{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Inicio – Checador{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="mb-4 text-center">Marca tu asistencia</h2>
      <form method="post" action="{% url 'asistencias:registrar_entrada' %}" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary w-100 mt-3">Enviar</button>
      </form>
      {% if not user.is_authenticated %}
        <div class="text-center mt-3">
          <a href="{% url 'login' %}" class="btn btn-outline-secondary">Iniciar sesión</a>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
