# --- CONFIGURACIÓN DE DJANGO ---
# Clave secreta para firmas criptográficas. Cambiar en producción.
SECRET_KEY=django-insecure-cambia-esto-por-una-clave-muy-larga-y-aleatoria

# DEBUG=True para desarrollo, DEBUG=False para producción
DEBUG=True

# Hosts permitidos (separados por comas). Ej: 127.0.0.1,localhost,www.tu-dominio.com
ALLOWED_HOSTS=127.0.0.1,localhost

# --- BASE DE DATOS ---
# Formato para PostgreSQL: postgres://usuario:password@host:puerto/nombre_db
# Formato para SQLite: sqlite:///db.sqlite3
DATABASE_URL=sqlite:///db.sqlite3

# --- CONFIGURACIONES ADICIONALES ---
# Tiempo de zona y lenguaje
TIME_ZONE=America/Chihuahua
LANGUAGE_CODE=es-mx
