{% extends 'base.html' %}

{% block title %}Eliminar Incidencia{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h2 class="mb-4">Eliminar Incidencia</h2>
    <p>¿Seguro que deseas eliminar la incidencia reportada por <strong>{{ incidencia.profesor }}</strong>?</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Eliminar</button>
      <a href="{% url 'incidencias:revisar_incidencias' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
</div>
{% endblock %}
